# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environments & secrets
.env
credentials.json

# Editor
.vscode/
.idea/

# Archivo binario de ngrok (solo para desarrollo local)
ngrok.exe